#calendar {
	max-width: 850px;
	margin: 50px auto;
}
/*custom*/
.fc-past {
	background: rgb(242, 242, 242);
}

.fc-highlight, .alert-info, .fc-today {
	background: rgb(237, 255, 238);
}

.fc-day-number {
	color: black;
}

/*.ui-timepicker-container {
      z-index: 1080 !important;
    }*/
#reservaiton-form tr td {
	border-top: 0px !important;
}

#reservaiton-form label {
	padding-top: 5px;
}

#reserDate, #reserName {
	text-align: left;
	padding-top: 3px;
	padding-left: 3px;
	font-size: 12pt;
}

.fc-day-grid-container {
	pointer-events: none;
	cursor: default;
}

.fc-day-number {
	pointer-events: auto !important;
	cursor: auto !important;
}

.fc-more {
	pointer-events: visible;
}

.fc-day-header.fc-sun span {
	color: red;
}

.fc-sun .fc-day-number {
	color: red;
}

.fc-day-number {
	color: rgb(57, 113, 205);
}

.fc-license-message {
	display: none !important;
}

/*공휴일 안눌리게..*/
.koHolidays {
	pointer-events: none;
	cursor: default;
}

.fc-nonbusiness {
	z-index: 999 !important;
	pointer-events: none !important;
	cursor: default !important;
}