

/* hovereffect */
.hovereffect {
	width: 100%;
	height:auto;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover img {
	filter:
		url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
}

.hovereffect h2 {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p {
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* 달력 */
#calendar {
	max-width: 600px;
	margin: 50px auto;
}

/*custom*/
.fc-highlight, .alert-info {
	background: rgb(255, 252, 253);
}

.fc-day-number {
	color: black;
}

/*.ui-timepicker-container {
								      z-index: 1080 !important;
								    }*/
#reservaiton-form tr td {
	border-top: 0px !important;
}

#reservaiton-form label {
	padding-top: 5px;
}

#reserDate, #reserName {
	text-align: left;
	padding-top: 3px;
	padding-left: 3px;
	font-size: 12pt;
}

/*.fc-day-grid-container {
								      pointer-events: none;
								      cursor: default;
								    }*/
.fc-more {
	pointer-events: visible;
}

.fc-day-header.fc-sun span {
	color: red;
}

.fc-sun .fc-day-number {
	color: red;
}

.fc-day-number {
	color: rgb(57, 113, 205);
}

.fc-license-message {
	display: none !important;
}
/* 기본 */
.b_icon {
	position: absolute;
	width: 32px;
	height: 32px;
	display: block;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.b_icon.active {
	content: url("icons/love_filled.svg");
}

.icon {
	position: relative;
	width: 32px;
	height: 32px;
	display: block;
	fill: rgba(51, 51, 51, 0.5);
	margin-right: 20px;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.icon.active {
	fill: #E74C3C;
}

#wrapper {
	width: 100%;
	max-height: 90%;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	overflow: hidden;
	padding-top: 10px;
}

#right-side {
	height: 100%;
	width: 19%;
	margin-left: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	float:right;
}
#right-side ul{
	padding-left: 2px;
}
#right-side ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 34px;
	color: rgba(51, 51, 51, 0.5);
	font-weight: 500;
	cursor: pointer;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

#right-side ul li:hover {
	color: #333333;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

#right-side ul li:hover>.icon {
	fill: #333;
}

#right-side ul li.active {
	color: #333333;
}

#right-side ul li.active:hover>.icon {
	fill: #E74C3C;
}

#border {
	height: 288px;
	width: 1px;
	background-color: rgba(51, 51, 51, 0.2);
}

#border #line.one {
	width: 5px;
	height: 54px;
	background-color: #feb0a7;
	margin-left: -2px;
	margin-top: 35px;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#border #line.two {
	width: 5px;
	height: 54px;
	background-color: #feb0a7;
	margin-left: -2px;
	margin-top: 89px;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#border #line.three {
	width: 5px;
	height: 54px;
	background-color: #feb0a7;
	margin-left: -2px;
	margin-top: 143px;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#border #line.four {
	width: 5px;
	height: 54px;
	background-color: #feb0a7;
	margin-left: -2px;
	margin-top: 197px;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#left-side {
/* 	margin-top: 100px; */
	margin: 70px;
/* 	margin-right: 10px; */
	height: auto;
	width: 100%; 
	overflow: hidden;
	position: relative;
}

#left-side #first, #left-side #second, #left-side #third, #left-side #fourth
	{
	height: 100%;
	width: 100%;
	-webkit-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	margin-top: -350px;
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	vertical-align: middle;
}

#left-side #first h1, #left-side #second h1, #left-side #third h1,
	#left-side #fourth h1 {
	font-weight: 800;
	color: #333;
}

#left-side #first p, #left-side #second p, #left-side #third p,
	#left-side #fourth p {
	color: #333;
	font-weight: 500;
	padding-left: 30px;
	padding-right: 30px;
}

#left-side #first.active, #left-side #second.active, #left-side #third.active,
	#left-side #fourth.active {
	overflow: auto;
	margin-top: 0px;
	display: flex;
	opacity: 1;
	-webkit-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	overflow-x: hidden;
}

.NailStoreMap {
	width: 70%;
	margin-top: 5px;
	margin-left: 5px;
	height: 380px;
	text-align: center;
	box-shadow: 5px 5px 30px -10px #ff9494;
	border-radius: 14px;
}

.animatepop {
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-animation: intro 1s 0.1s forwards;
	animation: intro 1s 0.1s forwards;

}

.pinkshadow {
	box-shadow: 5px 5px 30px -10px #ff9494;
}

.radius14 {
	border-radius: 14px;
}

.zindex {
	position: absolute;
	z-index: 1;
}
@
-webkit-keyframes intro {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}
			25% {
				-webkit-transform: scale(1.06);
				transform: scale(1.06);
			}
			50% {
				-webkit-transform: scale(0.965);
				transform: scale(0.965);
			}
			75% {
				-webkit-transform: scale(1.02);
				transform: scale(1.02);
			}
			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}

@keyframes intro {
0% {
				-webkit-transform: scale(0);}
			25% {
				-webkit-transform: scale(1.06);
				transform: scale(1.06);
			}
			50% {
				-webkit-transform: scale(0.965);
				transform: scale(0.965);
			}
			75% {
				-webkit-transform: scale(1.02);
				transform: scale(1.02);
			}
			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}

.addrText {
	width: 90%;
	height: auto;
	margin-left: 5px;
	position: relative;
	text-align: center;
	border-bottom: 3px solid #ffadad;
	overflow: hidden;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
	animation: intro 2s linear forwards;
}

.addrText p {
	/* font-family: sans-serif; */
	font-size: 1em;
	color: #f96767;
	/* text-shadow: 2px 2px 2px rgba(0,0,0,.5); */
}

.row {
	height: auto;
	width : 100%;
	max-height : 40%;
}


@media ( max-width : 768px) {
	#right-side {
		display: none;
	}
	#wrapper {
		width: 100%;
	}
	#left-side {
		/* 스크롤 바 숨기기 */
		overflow: scroll;
		overflow-x: hidden;
		height: 100%;
		position:relative;
	}
	::-webkit-scrollbar {
		width: 0px;
		/* remove scrollbar space */
		background: transparent;
		/* optional: just make scrollbar invisible */
	}
	.NailStoreMap {
		width: 80%;
		margin-right: 50px;
	}
	.addrText {
		width: 80%;
		margin-right: 50px;
	}
	#left-side #second, #left-side #third, #left-side #fourth {
		margin-top: 0px;
		margin-bottom: 20px;
		display: flex;
		opacity: 1;
		-webkit-transition: all .6s ease-in-out;
		transition: all .6s ease-in-out;
	}
	#left-side #first.active{
		height: auto;
		margin-top: 70px;
		margin-bottom: 20px;
		display: block;
		opacity: 1;
		-webkit-transition: all .6s ease-in-out;
		transition: all .6s ease-in-out;
	}
	.disappear {
		display: none;
	}
	.appear {
		display: block;
	}
	.row {
		position: relative; ! important;
		height: auto;
		!
		important;
	}
}

/* basic end*/

/* tab css*/
.tabbable-panel {
	border: 1px solid #eee;
	padding: 10px;
}

/* Default mode */
.tabbable-line>.nav-tabs {
	border: none;
	margin: 0px;
}

.tabbable-line>.nav-tabs>li {
	margin-right: 2px;
}

.tabbable-line>.nav-tabs>li>a {
	border: 0;
	margin-right: 0;
	color: #737373;
}

.tabbable-line>.nav-tabs>li>a>i {
	color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
	border-bottom: 4px solid #fbcdcf;
}

.tabbable-line>.nav-tabs>li.open>a, .tabbable-line>.nav-tabs>li:hover>a
	{
	border: 0;
	background: none !important;
	color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i, .tabbable-line>.nav-tabs>li:hover>a>i
	{
	color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu, .tabbable-line>.nav-tabs>li:hover .dropdown-menu
	{
	margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
	border-bottom: 4px solid #ff989c;
	position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
	border: 0;
	color: #333333;
}

.tabbable-line>.nav-tabs>li.active>a>i {
	color: #404040;
}

.tabbable-line>.tab-content {
	margin-top: -3px;
	background-color: #fff;
	border: 0;
	border-top: 1px solid #eee;
	padding: 15px 0;
}

.portlet .tabbable-line>.tab-content {
	padding-bottom: 0;
}

/* Below tabs mode */
.tabbable-line.tabs-below>.nav-tabs>li {
	border-top: 4px solid transparent;
}

.tabbable-line.tabs-below>.nav-tabs>li>a {
	margin-top: 0;
}

.tabbable-line.tabs-below>.nav-tabs>li:hover {
	border-bottom: 0;
	border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below>.nav-tabs>li.active {
	margin-bottom: -2px;
	border-bottom: 0;
	border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below>.tab-content {
	margin-top: -10px;
	border-top: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

/* tab css end */