<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookmark">
  <resultMap id="bookmarkMap" type="bookmark"> </resultMap>


<insert id="insertBookmark" parameterType="bookmark">
insert into bookmark values(bookmark_SEQ.NEXTVAL,#{member_pk},#{store_pk},#{nail_pk},#{bookmark_check}) 
<selectKey order="AFTER" resultType="_int" keyProperty="bookmark_pk">SELECT bookmark_SEQ.CURRVAL FROM DUAL </selectKey>

</insert>

<delete id="deleteBookmark" parameterType="hashmap">delete from bookmark where member_pk=#{member_pk} and bookmark_pk=#{bookmark_pk} </delete>

<select id="selectBookMarkList" parameterType="_int" resultMap="bookmarkMap">select * from bookmark where member_pk = #{memberPk} </select>

<select id="mypageBookmarkList" parameterType="_int" resultMap="bookmarkMap">
	select * from nail n join bookmark b on (n.nail_pk=b.nail_pk) where b.member_pk=#{member_pk}
</select>

<!-- <select id="bookmarkCount" parameterType="_int" resultType="_int"> 
	select count(*) from bookmark where member_pk=#{memberPk} 
</select> -->
</mapper>
