<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

   <resultMap type="member" id="memberMap">
      <result column="member_pk" property="memberPk" javaType="int" />
      <result column="member_id" property="memberId" javaType="String" />
      <result column="member_pw" property="memberPw" javaType="String" />
      <result column="member_name" property="memberName" javaType="String" />
      <result column="member_phone" property="memberPhone" javaType="String" />
      <result column="member_email" property="memberEmail" javaType="String" />
      <result column="member_address" property="memberAddress" javaType="String" />
      <result column="member_ori_img" property="memberOriImg" javaType="String" />
      <result column="member_re_img" property="memberReImg" javaType="String" />
      <result column="member_level" property="memberLevel" javaType="String" />
   </resultMap>

   <select id="selectOne" parameterType="string" resultMap="memberMap">
      SELECT * FROM MEMBER WHERE MEMBER_ID=#{memberId}
   </select>

</mapper>