<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nail">

	<resultMap type="nail" id="selectAll">
	</resultMap>
	
	<resultMap type="map" id="selectNail">
	</resultMap>
	
	<select id="nailList" resultMap="selectAll">
	 select * from nail
	</select>
	
	
	
	<select id='selectNailMap' resultType="hashmap" >
		select * from nail 
		where 1=1
 	<!--마이바티스 foreach
		속성
		1. collection : 반복할 객체 (예 job_code)
		2. item : 객체의 데이터가 들어갈 변수
		3. index : 반복횟수
		4. open : 시작문자
		5. close : 끝낼문자
		6. separator : 구분자
		DB에서 중복값을 다중행 비교! in 다음에 들어갈 구문을 작성
		(값,값,값,값) -->
	
		<if test="nail_color!=null">
		and nail_color=#{nail_color}
		</if>
		
		<if test="nail_check!=null">
		and nail_check=#{nail_check}
		</if>
		
		<if test="nail_style!=null">
		and nail_style=#{nail_style}
		</if>
		
		<if test="nail_color!=null and nail_check!=null">
		and nail_color=#{nail_color} and nail_check=#{nail_check}
		</if>
		
		<if test="nail_color!=null and nail_style!=null">
		and nail_color=#{nail_color} and nail_style=#{nail_style}
		</if>
		
		<if test=" nail_check!=null and nail_style!=null">
		and nail_check=#{nail_check} and nail_style=#{nail_style}
		</if>
		
		
		<if test="nail_color!=null and nail_check!=null and nail_style!=null">
		and nail_color=#{nail_color} and nail_check=#{nail_check} and nail_style=#{nail_style}
		</if>
		
	</select>
	<select id="listNailStore" resultMap="selectAll" parameterType="int">
		select * from nail where store_pk = #{store_pk}
		</select>
	
	<insert id="insertNail" parameterType="nail" useGeneratedKeys="true" keyProperty="key" >
	insert into nail values(nail_seq.nextVal,#{nail_name},#{nail_info},#{nail_color},#{nail_check},#{nail_style},#{store_pk},#{nail_ori_img},#{nail_re_img})
	</insert>
		
	<update id="updateNail" parameterType="nail" useGeneratedKeys="true" keyProperty="key" >
	update nail set nail_name=#{nail_name}, nail_info=#{nail_info} nail_color=#{nail_color}, nail_check=#{nail_check}, nail_style=#{nail_style},nail_ori_img=#{nail_ori_img},nail_re_img=#{nail_re_img} where nail_pk=#{nail_pk}
	</update>	
	
	<delete id="deleteNail" parameterType="string">
		delete from nail where nail_pk=#{nail_pk}
	</delete>
		
</mapper>
