<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qna">  
  <insert id="insertQna"> insert into qna values(qna_SEQ.nextVal,#{qna_writer},default,#{store_pk},#{member_pk},#{qna_title},#{qna_content},sysdate,default,default,null) </insert>

<resultMap id="qna" type="qna"/>

<select id="selectList" parameterType="_int" resultMap="qna"> select * from qna where member_pk=#{member_pk} </select>

<select id="selectCount" parameterType="_int" resultType="_int"> select count(*) from qna where member_pk=#{member_pk} </select>
  
<select id="selectQnaList" parameterType="_int" resultMap="qna">
 select * from qna where store_pk=#{store_pk} and answer_check='답변대기'
</select>  

<select id="qnaSelectCount" resultType='_int' parameterType="_int">
	select count(*) from qna where store_pk=#{store_pk}
</select>

<update id="updateQna" parameterType="qna"> 
	update qna set answer_check='답변완료',answer_content=#{answer_content}, answer_date=sysdate where qna_pk=#{qna_pk}
</update>

<select resultType="qna" id="selectOneContent">select * from qna where qna_pk=#{qna_pk} </select>

<delete id="deleteQna" parameterType="qna">
 delete from qna where qna_pk=${qna_pk} and member_pk=#{memberPk}
</delete>  
</mapper>
