<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeReview">
<resultMap type="storeReview" id="storeReviewMap">
	
</resultMap>

<select id="storeReviewList" resultMap="storeReviewMap">
SELECT REVIEW_content, A.*FROM REVIEW A WHERE store_pk = #{store_pk} START WITH REVIEW_LEVEL=1 CONNECT BY PRIOR REVIEW_PK=REVIEW_REF ORDER SIBLINGS BY REVIEW_DATE ASC
</select>
</mapper>
