<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="store">
<resultMap type="store" id="storeMap">

</resultMap>
<!-- <resultMap type="menu" id="menuMap">
</resultMap> -->

<select id="selectOne" resultMap="storeMap" parameterType="int">
	select * from store where store_pk = #{store_pk}
</select>

<!--  <select id="selectMenus" resultMap="menuMap" parameterType="int">
	select * from menu where store_pk = #{store_pk}
</select>-->

<select id="mainStoreList" resultMap="storeMap">
	SELECT * FROM store C,(SELECT ROWNUM AS RNUM, store_pk , COUNT store_review_count FROM (SELECT C.store_pk, COUNT(REVIEW_pk)COUNT   FROM store C LEFT OUTER JOIN REVIEW S ON C.store_pk = S.store_pk GROUP BY C.store_pk ORDER BY COUNT(REVIEW_PK) DESC)) S WHERE S.store_pk = C.store_pk ORDER BY S.store_pk
</select>

</mapper>
