<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeReview">
<resultMap type="storeReview" id="storeReviewMap">
	
</resultMap>

<select id="storeReviewList" resultMap="storeReviewMap">
SELECT REVIEW_content, A.* ,B.member_re_Img FROM REVIEW A inner join member B on a.member_pk=B.member_pk WHERE store_pk = #{store_pk} START WITH REVIEW_LEVEL=1 CONNECT BY PRIOR REVIEW_PK=REVIEW_REF ORDER SIBLINGS BY REVIEW_DATE ASC

</select>

<select id="selectReImg" resultType="string" parameterType="_int">
	SELECT REVIEW_RE_IMG FROM REVIEW WHERE REVIEW_PK=#{review_pk}
</select>



<insert id="storeReviewInsert" parameterType="storeReview">
	INSERT INTO REVIEW VALUES(REVIEW_SEQ.NEXTVAL,#{review_level},#{review_writer},#{review_content},null,SYSDATE,#{review_ori_img},#{review_re_img},#{review_star},#{member_pk},#{store_pk})
		<selectKey keyProperty="review_pk" resultType="_int" order="AFTER">
 			SELECT REVIEW_SEQ.CURRVAL FROM DUAL
 		</selectKey>
</insert>

<insert id="storeReviewReplyInsert" parameterType="storeReview">
	INSERT INTO REVIEW VALUES(REVIEW_SEQ.NEXTVAL,#{review_level},#{review_writer},#{review_content},#{review_pk},SYSDATE,null,null,2.5,#{member_pk},#{store_pk})
</insert>

<delete id="storeReviewDelete">
	DELETE FROM REVIEW WHERE REVIEW_PK=#{review_pk}
</delete>
</mapper>
