<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="store">
<resultMap type="store" id="storeMap">

</resultMap>

<select id="selectOne" resultMap="storeMap" parameterType="int">
	select * from store where store_pk = #{store_pk}
</select>

<select id="mainStoreList" resultMap="storeMap">
SELECT * FROM STORE C,(SELECT ROWNUM AS RNUM, STORE_PK , COUNT STORE_REVIEW_COUNT FROM (SELECT C.STORE_PK, COUNT(REVIEW_PK)COUNT   FROM STORE C LEFT OUTER JOIN REVIEW S ON C.STORE_PK = S.STORE_PK GROUP BY C.STORE_PK ORDER BY COUNT(REVIEW_PK) DESC)) S WHERE S.STORE_PK = C.STORE_PK ORDER BY C.STORE_RANK desc
</select>

</mapper>
